.transaction__history {
  width: 100%;
  box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.75);
  margin-left: 15px;
}

th {
  background-color: #2a99f3;
  color: #ffffff;
}

tr {
  text-align: center;
  height: 45px;
  font-size: 20px;
}

tr:nth-child(2n) {
  background-color: #f1f1f1;
}
